extends layout

block content
    style.
        .table>tbody>tr>td{
            vertical-align:middle;
        }
    script(type='text/javascript').
        function getUrlObj(){
            let url = window.location.href;
            let urlPart = url.split('?');
            urlPart[1] = urlPart[1] || '';
            return {
                host:urlPart[0],
                queryString:urlPart[1]
            }
            
        }
        function addItems(btn){
            window.location = 'http://'+ window.location.host + '/football/teams/add-form';
        }
        function deleteItems(btn){
            var checkedItems = [];
            $('input[type=checkbox]').each(function(){
                if(this.checked){
                    checkedItems.push(this.value);
                }
            });
            console.log(checkedItems);
        }
        function goto(path){
            window.location = 'http://'+window.location.host + path;
        }
        $(document).ready(()=>{
            $('input[name=search]')
                .keypress((e)=>{
                    if(e.which === 13){//press enter
                        var searchText=e.target.value;
                        var index = window.location.href.indexOf('?');
                        var url =window.location.href;
                        if(index !== -1){
                            url = url.slice(0,index);
                        }
                        url= url + '?s='+searchText;
                        window.location = url;
                    }
                });
            $('#editBtn').click(()=>{
                var url = getUrlObj(window.location.href);
                window.location = url.host +'/edit' + (url.queryString? '?'+url.queryString : '' );

            });
        });
    .container
        .row.header
            .col-xs-6
                h1 Team List
            .col-xs-6(style='text-align:right')
                .btn-toolbar(role='toolbar')
                    if mode !== 'edit'
                        button.btn.btn-primary(id='editBtn') Edit
                    else
                        button.btn.btn-primary(id='addBtn',onclick='addItems(this);') Add
                        input.btn.btn-primary(id='deleteBtn',type='submit',value='Delete',form='deleteForm')
                        button.btn.btn-default(id='cancle',onclick='goto("/football/teams");') Cancle
        .line
            //- .panel.panel-default
            //-     .panel-heading Teams List
            //-     .panel-body
        .row.form-group
            .col-md-8
                .input-group
                    span.input-group-addon Search
                    input(type="text",placeholder="Team Name",name='search',value=s).form-control
        form(id='deleteForm',method='post',action='delete')
            table.table.table-striped.table-bordered
                thead
                    tr
                        th #
                        if mode === "edit"
                            th
                        th Name
                        th Description
                        if mode === 'edit'
                            th Id
                    tbody
                        -for(var i=0;i<teams.length;i++)
                            tr
                                if mode==='edit'
                                    td
                                        label
                                            input(name='d',type='checkbox',value=teams[i]._id)
                                    td
                                        a(href="update-form?d="+teams[i]._id,role="button").btn.btn-primary Edit
                                else
                                    td= i+1
                                td= teams[i].name
                                td= teams[i].desc
                                if mode === 'edit'
                                    td= teams[i]._id